*{
    margin: 0%;
    padding: 0%;
}




.cabecalho{
    background-color: rgb(21, 37, 124);
    color: rgb(206, 187, 187);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px 0;
    margin: 1px  0;
}


.cabecalho-imagem{
    width: 10%;
    margin: 0% 1px;

}  


.cabecalho-lista-item{
    display: inline-block;
    margin: 0  130px;
    font-size: 20px;
}


.cabecalho-lista-item4{
    display: inline-block;
    margin: 0%  200px;  
    font-size: 25px;
    justify-content: center;
    
}

.escola-imagem-aluno{
    width: 60%;
    justify-content: center;
}

.escola{
display: flex;
justify-content: center;
padding: 90px  0;
  background-color: rgb(21, 37, 124);
}

.escolatitulo {
    background-color: rgb(21, 37, 124);
    color: rgb(218, 155, 155);
    width: 30%;
    justify-content: center;
    text-align: center;

}

.ESCOLATITULO2 {
    background-color: rgb(21, 37, 124);
    color: rgb(218, 155, 155);
    width: 30%;
    justify-content: center;
    text-align: center;

}

.rodape {
    background-color: rgb(94, 18, 8);
    text-align: center;
    padding: -0,5px 0;
    margin: 6px  0;
}

.rodape-img {
    height: 90px;
    padding: 2px  0;
}